@{
    ViewData["Title"] = "State";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@model DataTable

<div class="@TempData["alertClass"] alert-dismissible fade @TempData["alertDisplay"]" role="alert">
    <strong>@TempData["alertTitle"] !</strong> @TempData["alertMessage"]
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container w-75 text-center">

    @*Serach On Page*@
    <div class="container">

        <form method="post">
            <div class="mb-3">

                <div class="d-flex justify-content-center align-items-center flex-wrap">

                    <input type="text" class="form-control w-25 m-3" name="CountryName" placeholder="Country Name">

                    @*<div class="mb-3">
                    <label class="form-label">Enter Country ID</label>
                    <Select type="text" class="form-control" name="CountryID" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                    <option value="">Select Country</option>
                    </Select>
                    <span class="text-danger"></span>
                    </div>*@

                    <input type="text" class="form-control w-25 m-3" name="CountryCode" placeholder="Country Code">

                    <input type="text" class="form-control w-25 m-3" name="StateName" placeholder="State Name">

                    <input type="text" class="form-control w-25 m-3" name="StateCode" placeholder="State Code">

                </div>

                <input type="submit" asp-area="LOC_State" asp-controller="Home" asp-action="SearchByPage" class="btn btn-outline-success m-4" id="searchByPage" value="Search">

                <input type="submit" asp-area="LOC_State" asp-controller="Home" asp-action="Index" class="btn btn-outline-danger m-4" value="Cancel">

            </div>
        </form>

    </div>

    <hr />

    <h1>State</h1>
    <div class="mt-3 d-flex justify-content-center align-items-center">
        <a class="btn btn-outline-success mx-5" asp-area="LOC_State" asp-controller="Home" asp-action="Add">Add State</a>
        <nav class="navbar">
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" id="sample_1" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </nav>
    </div>

    <table class="table" id="sample_1">
        <thead>
            <tr>
                <th scope="col">State Name</th>
                <th scope="col">Country Name</th>
                <th scope="col">state Code</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Modification Date</th>
                <th colspan="2" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="sample_2">
            @foreach (DataRow dr in Model.Rows)
            {
                <tr class="content mb-2">
                    <td>@dr["StateName"]</td>
                    <td>@dr["CountryName"]</td>
                    <td>@dr["StateCode"]</td>
                    <td>@Convert.ToDateTime( dr["CreationDate"] ).ToString("dd-MM-yy")</td>
                    <td>@Convert.ToDateTime( dr["ModificationDate"] ).ToString("dd-MM-yy")</td>
                    <td>
                        <form asp-area="LOC_State" asp-controller="Home" asp-action="Delete">
                            <input type="hidden" name="StateID" value="@Convert.ToInt32(dr["StateID"])">
                            <button type="submit" class="btn btn-outline-danger" onclick="return deleteFunction()"><strong><iconify-icon icon="ic:baseline-delete"></iconify-icon></strong></button>
                        </form>
                    </td>
                    <td>
                        <form asp-area="LOC_State" asp-controller="Home" asp-action="Add">
                            <input type="hidden" name="StateID" value="@Convert.ToInt32(dr["StateID"])">
                            <button type="submit" class="btn btn-outline-primary"><strong><ion-icon name="create-outline"></ion-icon></strong></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function deleteFunction() {
            if (confirm("Are you sure you want to delele ?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}